form h1 {
    color: hsl(231, 48%, 48%);
}
form > p {
    font-size: 36px;
    color: #c2185b;
}
label + input {
    display: block;
    clear: both;
}

* + fieldset {
    margin: 5em 0;
}
label ~ input {
    display: block;
}

