body {
  height: 100%;
  width: 100%;
  
}
.logo {
    text-decoration: none;
    padding-top: 50px;
    font-size:1.2em ;
    color:#FFCB77;
    font-weight: 900;
}


 .logo:hover{
    color: azure;
 }

header {
    margin: 10px;
   

    background-color:  #030303;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 3px 3px 5px #FEF9EF;
}

main{
    margin: 0 100px 0 100px;
    text-align: center;
}

p {
    border-top: 1px solid rgb(78, 76, 76);
    font-style: italic;
}



ul {
    font-family: 'Montserrat', sans-serif;
    display: inline-block; 
	text-align: left; 
}

.list a:hover {
    color: #FFCB77;
}

.list a {
    color: #000408;
  text-align: center;
}

li{
    text-align: left;
}
footer {
    margin: 10px;
    color: #FFCB77;
    background-color:  #030303;
    border-radius: 10px;
    /* padding: 10px; */
    font-family: sans-serif;
    text-align: center;
    box-shadow: 3px 3px 5px #FEF9EF;
}


